
@import url('../css/fonts.css');


html, body{
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
}

:root{

    /*      Palette        */
    --text-gray: #3f4954;
    --text-light : #686666da;
    --bg-color: #0f0f0f;
    --white: #ffffff;
    --midnight: #104f55;

    /* ================================= */
    --hue: 48;
    --sat: 100%;
    --lig: 58%;
    
    /* --color-first: hsl(var(--hue), var(--sat), var(--lig));
    --color-first-alt: hsl(var(--hue), var(--sat), 60%);
    --color-title: hsl(var(--hue), 12%, 15%);
    --color-text: hsl(var(--hue), 12%, 45%);
    --color-text-light: hsl(var(--hue), 8%, 75%);
    --color-text-lighten: hsl(var(--hue), 8%, 92%);
    --color-body: hsl(var(--hue), 100%, 99%);
    --color-container: #fff; */

    /* gradient color   */
    /* --color1: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%); */

    --color1: hsl(var(--hue), var(--sat), var(--lig));

    /*      theme font-family   */
    --Abel: 'Abel', cursive;
    --Anton: 'Anton', cursive;
    --Josefin : 'Josefin', cursive;
    --Lexend: 'Lexend', cursive;
    --Livvic : 'Livvic', cursive;
}


/* ---------------- Global Classes ---------------*/

a{
    text-decoration: none;
    color: var(--text-gray);
}

.flex-row{
    display: flex;
    flex-direction: row;    
    flex-wrap: wrap;
}

ul{
    list-style-type: none;
}

h1{
    font-family: var(--Lexend);
    font-size: 2.5rem;
}

h2{
    font-family: var(--Lexend);
}

h3{
    font-family: var(--Lexend);
    font-size: 1.3rem;
    margin: 0;
}

h4{
    font-family: var(--Lexend);
    font-size: 1rem;
    margin: 0;
    font-weight: 550;
}

button.btn{
    border: none;
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-size: 1rem;
    font-family: var(--Livvic);
    cursor: pointer;
}

span{
    font-family: var(--Abel);
}

.container{
    margin: 0 5vw;
}

.text-gray{
    color: var(--text-gray);
}

p{
    font-family: var(--Lexend);
    color: var(--text-light);
}

/* ------x------- Global Classes -------x-------*/

/* --------------- navbar ----------------- */

.nav{
    background: var(--color1);
    padding: 0 2rem;
    height: 0rem;
    min-height: 10vh;
    overflow: hidden;
    transition: height 1s ease-in-out;
}

.nav .nav-menu{    
    justify-content: space-between;
}

.nav .toggle-collapse{
    position: absolute;
    top: 0%;
    width: 90%;
    cursor: pointer;
    display: none;
}

.nav .toggle-collapse .toggle-icons{
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
}

.nav .toggle-collapse .toggle-icons i{
    font-size: 1.4rem;
    color: var(--text-gray);
}

.collapse{
    height: 30rem;
}

.nav .nav-items{
    display: flex;
    margin: 0;
}

.nav .nav-items .nav-link{
    padding: 1.6rem 1rem;
    font-size: 1.1rem;
    position: relative;
    font-family: var(--Abel);
    font-size: 1.1rem;
}

.nav .nav-items .nav-link:hover{
    /* background-color: var(--midnight); */
    background-color: #fff;
}

.nav .nav-items .nav-link:hover a{
    /* color: var(--white); */
    color: var(--text-gray);
}

.nav .nav-brand a{
    font-size: 1.6rem;
    padding: 1rem 0;
    display: block;
    font-family: var(--Lexend);
    /* font-size: 1.6rem; */
}

.nav .social{
    padding: 1.4rem 0
}

.nav .social i{
    padding: 0 .2rem;
}

.nav .social i:hover{
    color: #a1c4cf;
}

/* -------x------- navbar ---------x------- */

/* ----------------- Main Content----------- */

/* --------------- Blog Carousel ------------ */

.haikyuu{
    background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,1)), url(../assets/Blog-post/haikyuu2.jpg);
}

.bokuto{
    background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,1)), url(../assets/haikyuu/bg-bokuto.jpg);
}

.alekun{
    background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,1)), url(../assets/bg.jpg);
}

main{
    /* border: 2px solid black; */
    margin: 0 2.5rem;
    background: #fff;
}

.video{
    margin-top: 3rem;
    display: block;
    margin: 3rem auto 0 auto;
    width: 70%;
    height: 450px;
}

main .spoiler{
    margin: 5rem 0 0;
    text-align: center;
    font-size: 120%;
    border-top: 5px solid var(--color1);
    border-bottom: 5px solid var(--color1);
    padding: 2rem;
}

main .head{
    overflow: hidden;
    width: 100%;
}

.haikyuu main .head .bg-back{
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,.75)), url(../assets/Blog-post/haikyuu2.jpg);
    height: 10%;
    background-repeat: no-repeat;
    background-size: cover;

    background-position: center;
    overflow: hidden;

    padding: 2rem;

    border-bottom: 10px solid var(--color1);

    color: #fff;
    text-align: center;
}

.bokuto main .head .bg-back{
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,.75)), url(../assets/haikyuu/bg-bokuto.jpg);
    height: 10%;
    background-repeat: no-repeat;
    background-size: cover;

    background-position: center;
    overflow: hidden;

    padding: 2rem;

    border-bottom: 10px solid var(--color1);

    color: #fff;
    text-align: center;
}


.alekun main .head .bg-back{
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,.75)), url(../assets/bg.jpg);
    height: 10%;
    background-repeat: no-repeat;
    background-size: cover;

    background-position: center;
    overflow: hidden;

    padding: 2rem;

    border-bottom: 10px solid var(--color1);

    color: #fff;
    text-align: center;
}

main .head .image{
    /* border: 3px solid black; */

    display: flex;
    justify-content: center;

    margin: 1rem 0;
    width: 100%;
    overflow: hidden; /*memasukkan gambar ke dalam kotak */

    /* buat bikin gambar ke tengah - pilih salah satu sama img */
    /* display: flex;
    justify-content: center; */
}

main .head .image img{
    /* border: 3px solid #fff; */
    width: 200px;
    height: 200px;
    object-fit: cover;

    /* buat bikin ke tengah */
    display: block;
    /* margin: auto; */
    margin: 10px 20px;

    box-shadow: 0 15px 20px rgba(0, 0, 0, .5);
    border-radius: 1rem;

}

main .head .bg-back h1{
    color: #fff;
    text-align: center;
}

main .container .type{
    font-family: var(--Lexend);
}

main .container .type .type3{
    margin-top: 10px;
}

main .container .type2 h1{
    text-align: left;
    margin-bottom: 10px;
}

main .container .type2 a:hover{
    color: var(--color1);
}

main .container .type3 a:hover{
    color: var(--color1);
}

/* -------x------- Blog Carousel -----x------ */

/* ---------------- Site Content ----------------*/

/* yang membagi 2 tampilan */
main .site-content{
    display: grid;
    margin: 0;
    /* display: flex; */
    /* grid-template-columns: 70% 30%; */
    /* border: 3px solid black; */
    
    /* justify-content: center; */
    /* align-items: center; */ 
}

.site-content .sidebar .popular-tags .tags .tag > a{
    color: black;
}

main .site-content .posts0{
    /* border: 3px solid black; */
}

main .site-content .posts0 h2{
    text-align: center;
}

main .site-content .posts{
    /* border-top: 5px double var(--color1); */

    /* padding: 1rem; */

    text-align: justify;
    
    justify-content: center;
    align-items: center;
    /* margin-bottom: 200px; */
}

main .two-sectiona{
    text-align: left;
    display: grid;
    /* display: flex; */
    grid-template-columns: 40% 60%;
    margin: 5rem 0;
}

main .site-content .two-sectiona .about-info h3{
    text-align: center;
}

main .site-content .two-sectiona .about-info{
    border: 3px solid var(--color1);
    /* margin: 0 1rem; */
    text-align: left;
    width: 100%;
    border-radius: 15px;
    /* color: var(--text-gray);
    font-weight: 500; */
    margin-left: -1%;
    
}

main .site-content .two-sectiona .about-info .table-info{
    display: flex;
    justify-content: center;
}

main .site-content .two-sectiona .about-info2{
    margin: auto;
    /* border: 3px solid var(--color1); */
    width: 100%;
    padding-left: 1rem;
}

main .site-content .two-sectiona .about-info2 h3{
    text-align: left;
    font-style: italic;
    color: black;
}

main .site-content .two-sectiona .about-info2 .quotes, .about{
    margin: 1rem auto 0 auto;
}

main .site-content .two-sectiona .about-info2 .about h3{
    border-bottom: 3px solid var(--color1);
    padding: 1rem;
}

main .site-content .two-sectiona .about-info2 .quotes h3{
    border-bottom: 3px solid var(--color1);
    padding: 1rem;
}

main .site-content .two-sectiona .about-info2 .gallery{
    border-top: 3px solid var(--color1);
    border-bottom: 3px solid var(--color1);
    padding: 1rem;
}

main .site-content .two-sectiona .about-info2 .gallery sub, sup{
    font-weight: 500;
    font-size: .75rem;
}

main .site-content .two-sectiona .about-info2 .gallery h3:hover{
    color: var(--color1);
    font-weight: 1000;
}

main .site-content .two-sectiona .about-info2 p{
    text-align: left;
    color: var(--text-gray);
    font-size: 1rem;
}

.table-info th, td{
    /* border-bottom: 1px solid a; */
    padding-right: 7px;
    text-align: left;
    /* style="background-color: darkgrey; */
}

.table-info tr .right{
    text-align: right;
}

.table-info tr .bg{
    background-color: var(--color1);
    text-align: center;
    padding: 7px;
}

/* ================ */

/* main .site-content .posts{
    border: 3px solid black;
    
    justify-content: center;
    align-items: center;
}

main .site-content p{
    display: flex;
    border: 3px solid black;
    
    justify-content: center;
    align-items: center;
} */

main .post-content{
    width: 100%;
}


main .site-content .post-content > .post-image, .post-title{
    position: relative;
    /* border: 2px solid red; */
}

main .site-content .post-content > .post-image, .post-title h3{
    margin-top: .5rem;
}

main .site-content .post-content > .post-image, .post-title p{
    margin-top: .25rem;
}

main .site-content .post-content > .post-image .post-info{
    padding: 1rem;
    position: absolute;
    bottom: 0%;
    left: 20vw;
    border-radius: 3rem;
}

main .site-content .post-content > .post-image > div{
    overflow: hidden;
}

main .site-content .post-content > .post-image .img{
    width: 100%;
    transition: all 1s ease;
}

main .site-content .post-content > .post-image .img:hover{
    transform: scale(1.3);
}

main .site-content .post-content > .post-image .post-info span{
    margin: 0 .5rem;
}

/* main .post-content .post-title a{
    font-family: var(--Lexend);
    font-weight: 500;
    font-size: 1.5rem;
} */

.site-content .post-content .post-title .post-btn{
    border-radius: 0;
    padding: .7rem 1.5rem;
    background: var(--color1);
}

/* -------x-------- Site Content --------x-------*/


/* --------------- Sidebar ----------------------- */

main .sidebar{
    /* border: 5px double var(--color1); */
    /* background: var(--color1); */
    padding: 2rem;
    border-radius: 20px;
    margin: 3rem;
}

main .two-section{
    text-align: left;
    display: grid;
    /* display: flex; */
    grid-template-columns: 70% 30%;
}

main .site-content .two-section{
    /* border: 2px solid black; */
}

main .site-content .two-section .detail1{
    /* border: 2px solid black; */
    margin-bottom: 10rem;
}

main .site-content .two-section .detail1 p{
    /* border: 2px solid black; */
    /* margin-bottom: 10rem; */
    line-height: 25px;
}

main .site-content .two-section .detail1 .final3 li{
    /* border: 2px solid black; */
    margin-bottom: 10rem;
    line-height: 25px;
}

main .site-content .two-section .detail1 .final3 li a:hover{
    color: var(--color1);
}

main .site-content .two-section .detail{
    border-bottom: 3px solid var(--color1);
    margin: 1rem;
    padding: .5rem;
    font-family: var(--Lexend);
    font-size: 1.3rem;
    font-weight: 600;
}

main .site-content .two-section .detail-content{
    /* border: 3px solid var(--color1); */
    margin: 2rem 1rem;
    padding: 0 .5rem;
}

main .site-content .two-section .detail-content p{
    color: var(--text-gray);
    
}

main .site-content .two-section .detail-content h4{
    font-weight: 600;
}

main .site-content .two-section .detail-content .final{
    margin: 1rem 0;
    overflow: hidden;
}

main .site-content .two-section .detail-content .final img{
    /* border: 3px solid #fff; */
    width: 180px;
    height: 120px;
    object-fit: cover;

    float: right;

    margin: .5rem;

    /* buat bikin ke tengah */
    /* display: block;
    margin: auto; */
}

main .site-content .two-section .detail-content .final2 .satu .dua a:hover{
    /* border: 2px solid black; */
    color: var(--color1);
}

main .site-content .two-section .detail-content .final2 h3{
    margin: 1rem 0 1rem -.5rem;
    padding: .5rem;
    border-bottom: 3px solid var(--color1);
}

main .site-content .two-section .detail-content .final2 .final3 ul{
    list-style-type: disc;
}

main .site-content .two-section .detail-content .final2 .final3 strong{
    color: black;
}



main .site-content .two-section .detail-content .final2 .final3 p{
    margin: 1rem 0;
    overflow: hidden;
}

main .site-content .two-section .detail-content .final2 .final3 p img{
    /* border: 3px solid #fff; */
    position: relative;
    width: 200px;
    height: 100px;
    object-fit: cover;

    float: right;

    margin: .5rem;
}

main .site-content .two-section .detail-content .final2 .final3 ul{
    font-family: var(--Lexend);
    color: var(--text-gray);
}

main .site-content .two-section .detail-content .final2 .final3 li{
    /* border: 2px solid red; */
    margin-bottom: .75rem;
}

.site-content .sidebar{
    /* border-left: 2px solid gray; */

    /* padding: 1rem; */
    
    margin-left: 1rem;
    /* border: 2px solid black; */
}

/* main .site-content .two-section .sidebar{
    border: 2px solid black;
} */

.site-content .two-section .sidebar .category-list{
    font-family: var(--Livvic);   
    /* border: 2px solid black; */   
}

/* .site-content > .sidebar .category2{
    font-family: var(--Livvic); 

    border-left: 3px double gray;

    padding-left: 1rem;  
} */

.site-content .two-section .sidebar .popular-post{
    /* border: 2px solid black; */
}

.site-content .two-section .sidebar .popular-post .post-content{
    padding: 1rem 0;
}

/* .site-content .sidebar .popular-post .post-content{
    padding: 1rem 0;
} */

.site-content .two-section .sidebar .popular-post h2{
    padding-top: 1rem;
}

.site-content .two-section .sidebar .popular-post .post-info{
    padding: .4rem .1rem !important;
    bottom: 0rem !important;
    left: 1.5rem !important;
    border-radius: 0rem !important;
    background: white !important;
}

/* .site-content .two-section  .sidebar .popular-post .post-title a{
    font-size: 1rem;
} */

.site-content .two-section .sidebar .newsletter{
    padding-top: 10rem;
}

.site-content .two-section  .sidebar .newsletter .form-element{
    padding: .5rem 2rem;
}

.site-content .two-section .sidebar .newsletter .input-element{
    width: 80%;
    height: 1.9rem;
    padding: .3rem .5rem;
    font-family: var(--Lexend);
    font-size: 1rem;
}

.site-content .two-section  .sidebar .newsletter .form-btn{
    border-radius: 0;
    padding: .8rem 32%;
    margin: 1rem 0;
    background: var(--color1);
}

.site-content .two-section  .sidebar .popular-tags{
    padding: 5rem 0;
}

.site-content .two-section  .sidebar .popular-tags .tags .tag{
    background: var(--color1);
    padding: .4rem 1rem;
    border-radius: 3rem;
    margin: .4rem .6rem;
    
}


/* ----------------- music --------------------- */

.player{
    /* border: 3px solid var(--color1); */
    height: 70px;
    display: flex;
    /* position: relative; */
    margin: 10px 0 20px 0;
    width: 350px;
    background: var(--color1);
    border-radius: 10px;
}

audio::-webkit-media-controls-panel{
    background: var(--color1);
}

.player .imgBox{
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
}

.player .imgBox img{
    position: absolute;
    top: 0;
    left: 0;
    height: 70px;
    width: 70px;
    object-fit: cover;
}

.player audio{
    /* border: 3px solid red; */
    display: block;
    margin: auto;
    /* margin-left: -180px; */
}

.player audio{
    width: 100%;
    outline: none;
}

.satu{
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    /* border: 3px solid red; */
    margin: auto;
}

.dua{
    /* margin: auto; */
    /* padding-left: 20% ; */
    font-family: var(--Lexend);
    font-size: 1rem;
}



/* ----------------- Footer --------------------- */

footer.footer{
    background: var(--bg-color);
    position: relative;
    padding-bottom: 30px;

}

footer.footer .container{
    display: grid;
    grid-template-columns: 50% 20%;
    height: 100%;
    justify-content: space-between;
    /* border: 2px solid white; */
}

footer .a .text-gray{
    text-align: center;
}

footer.footer .container .follow h4{
    /* border: 2px solid white; */
    margin-top: 50px;
}

footer.footer .container > div{
    flex-grow: 1;
    flex-basis: 0;
    padding: 3rem .9rem;
}

footer.footer .container h2{
    color: var(--white);
}

footer.footer .follow div i{
    color: var(--white);
    padding: 0 .4rem;
}

footer.footer .rights{
    justify-content: center;
    font-family: var(--Josefin);
}

footer.footer .rights h4 a{
    color: var(--white);
}

footer.footer .move-up{
    position: absolute;
    right: 6%;
    top: 50%;
}

footer.footer .move-up span{
    color: var(--midnight);
}

footer.footer .move-up span:hover{
    color: var(--white);
    cursor: pointer;
}

/* ---------x------- Footer ----------x---------- */

/*              Viewport less then or equal to 1130px            */

@media only screen and (max-width: 1130px){
    .site-content .post-content > .post-image .post-info{
        left: 2rem !important;
        bottom: 1.2rem !important;
        border-radius: 0% !important;
    }

    .site-content .sidebar .popular-post .post-info{
        display: none !important;
    }

    footer.footer .container{
        grid-template-columns: repeat(2, 1fr);
    }

    main .container .type3 a{
        background: var(--color1);
        padding: 3px 5px;
        display: block;
        text-align: left;
        padding: 7px 0;
        margin: 3px 0;
    }

    main .container .type{
        margin-bottom: 50px;
    }

    footer.footer{
        height: 70vh;
        background: var(--bg-color);
        position: relative;
        padding-bottom: 30px;
    }
    
    footer.footer .container{
        display: grid;
        grid-template-columns: 50% 30%;
        height: 100%;
    }

    main .two-sectiona{
        text-align: left;
        display: grid;
        /* display: flex; */
        grid-template-columns: none;
    }

    main .head .image{
        display: grid;
    }

    .alekun .final2{
        border: 3px solid purple;
        width: 70%;
    }

}

/*      x       Viewport less then or equal to 1130px    x     */

/*              Viewport less then or equal to 750px            */

@media only screen and (max-width: 750px){
    .nav .nav-menu, .nav .nav-items{
        flex-direction: column;
    }

    .nav .toggle-collapse{
        display: initial;
    }

    main .site-content{
        grid-template-columns: 100%;
    }

    footer.footer .container{
        grid-template-columns: repeat(1, 1fr);
    }

    main{
        margin: 0;
    }

    main .two-section{
        display: grid;
    }

    main .two-section{
        text-align: left;
        display: grid;
        /* display: flex; */
        grid-template-columns: none;
    }

    main .two-sectiona{
        text-align: left;
        display: grid;
        /* display: flex; */
        grid-template-columns: none;
    }

    main .sidebar{
        margin-top: -100px;
        padding-top: 0;
    }

    main .container .type3 a{
        background: var(--color1);
        padding: 3px 5px;
        display: block;
        text-align: center;
        padding: 7px 0;
        margin: 3px 0;
    }

    main .container .type{
        margin-bottom: 50px;
    }

    /* footer.footer .container{
        grid-template-columns: repeat(2, 1fr);
    } */

    footer.footer{
        height: 70vh;
        background: var(--bg-color);
        position: relative;
        padding-bottom: 30px;
    }
    
    footer.footer .container{
        display: block;
        /* display: grid;
        grid-template-columns: 50% 20%; */
        height: 100%;
    }

    main .posts-information{
        text-align: left;
        display: grid;
        /* display: flex; */
        grid-template-columns: none;
    }

    main .head .image{
        display: grid;
    }

    .alekun .final2{
        border: 3px solid blue;
    }
    
}


/*        x      Viewport less then or equal to 750px       x     */


/*              Viewport less then or equal to 520px            */

@media only screen and (max-width: 520px){
    main .blog{
        height: 125vh;
    }

    .site-content .post-content > .post-image .post-info{
        display: none;
    }

    footer.footer .container > div{
        padding:  1rem .9rem !important;
    }

    footer .rights{
        padding: 0 1.4rem;
        text-align: center;
    }

    nav .toggle-collapse{
        width: 80% !important;
    }

    main{
        margin: 0;
    }

    main .two-section{
        text-align: left;
        display: grid;
        /* display: flex; */
        grid-template-columns: none;
    }

    main .sidebar{
        margin-top: -100px;
        padding-top: 0;
    }

    main .container .type3 a{
        background: var(--color1);
        padding: 3px 5px;
        display: block;
        text-align: center;
        padding: 7px 0;
        margin: 3px 0;
    }

    main .container .type{
        margin-bottom: 50px;
    }

    footer.footer .container{
        grid-template-columns: 50% 50%;
    }

    footer.footer{
        height: 70vh;
        background: var(--bg-color);
        position: relative;
        padding-bottom: 30px;
    }
    
    footer.footer .container{
        display: block;
        /* display: grid;
        grid-template-columns: 50% 20%; */
        height: 50%;
    }

    main .posts-information{
        text-align: left;
        display: grid;
        /* display: flex; */
        grid-template-columns: none;
    }

    main .head .image{
        display: grid;
    }

    .alekun .final2{
        border: 3px solid red;
        width: 90%;
    }

    .alekun .player{
        width: 300px;
    }

}

@media only screen and (max-width: 360px){
    .alekun .final2{
        border: 3px solid black;
        width: 70%;
    }

    .alekun .player{
        width: 200px;
        height: 70px;
    }
}